body {
  margin: 0;
  font-family: 'Trade Winds', cursive;
  background-color: #8b0000;
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,88,88,1) 100%); */
}

/* Navbar */
.navbar {
  background-color: #000000 !important;
}

#navbarNav {
  justify-content: end;
}

/* Header con imagen y texto */
.header-container {
  padding-top: 4em;
}

.image {
  display: flex;
  justify-content: center;
}

.pokemon-logo {
  width: 45%;
}

.text-title {
  text-align: center;
}

.title-header {
  color: #000000;
  -webkit-text-stroke: 2px #C7C7C7;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 1em;
}

/* Contenedor de los Pokemon visualizados en pantalla */
.pokemon-cont {
  width: 150px;
  background-color: white;
  border: 2px solid #000000;
  display: inline-block;
  text-align: center;
  margin: 1em;
}

.element {
  background-color: #FFC107;
  border-bottom: 2px solid #000000;
}


/* Media Qerys para versión movil */
@media (min-width: 300px) and (max-width: 991px) {
  /* Navbar */
  .team-img {
    width: 80% !important;
  }
  .form-inline {
    justify-content: center;
    padding: 1em;
  }
  /* Header */
  .pokemon-logo {
    width: 65%;
  }
  .title-header {
    font-size: 2em;
  }
}

/* Medias para contenedor pokémon mobile */
@media (min-width: 300px) and (max-width: 575px) {
  /* Contenedor de los Pokémon */
  .pokemon-cont {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  /* Contenedor de los Pokémon */
  .pokemon-cont {
    width: 41%;
  }
}
